/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Root */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Button */
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 0 10px;
  height: 100%;
}

button:hover {
  color: #a7b5ff;
}

button:focus {
  color: #f3acff;
}

/* Header */
.header-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2d2d2d;
  height: 100%;
}

.header-logo {
  height: 50px;
  width: auto;
}

/* Nav */
.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-areas {
  margin-left: 1rem;
}

/* Banner */
.main-banner {
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 8px;
}

.banner-span {
  font-weight: bold;
}

/* Hero */
.hero-items {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hero-text {
  padding: 12px;
}

.hero-text h2 {
  text-transform: uppercase;
}

.hero-text p {
  padding-top: 4px;
}

@media (min-width: 600px) {
  .hero-items {
    display: flex;
    flex-direction: row;
  }
}
